@media (prefers-color-scheme: dark) {
  HTML {
    --background: #202020;
    --foreground: #E0E0E0;
    --light: rgba(255,255,255,0.1);
    --dark: rgba(255,255,255,0.5);
    --blue: #216580;
    --orange: #A05717;
  }

  IMG {
    filter: brightness(.8) contrast(1.2);
  }

  A:link {
    color: #4765C0;
  }
  
  A:visited {
    color: #6347C0;
  }

  DIV.info {
    background-color: #2F4760;
    --background: #2F4760;
  }

  DIV.warning {
    background-color: #603B17;
    --background: #603B17;
  }
 
  DIV.tip {
    background-color: #2F602F;
    --background: #2F602F;
  }
  
  DIV.vb {
    background-color: #806B2F;
    --background: #806B2F;
  }
  
  DIV.critical {
    background-color: #602F2F;
    --background: #602F2F;
  }

  .up IMG {
    filter: invert(100%);
  }
  
  DIV.since {
    background-color: #A03B3B;
  }
  
  DIV.code {
    filter: invert(100%) hue-rotate(180deg);
    border-color: rgba(0,0,0,0.5);
  }

  DIV.syntax {
    filter: invert(100%) hue-rotate(180deg);
    border-color: rgba(0,0,0,0.5);
  }
}

